server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  ai:
    mcp:
      server:
        protocol: STREAMABLE # 配置使用 Steamable 协议，缺省是 SSE
        streamable-http:
          mcp-endpoint: /mcp # 指定一个 MCP Server 的入口，例如：https://my-mcp-server/mcp

      client:
        enabled: true
        name: my-mcp-client
        version: 1.0.0
        request-timeout: 30s
        type: ASYNC  # or SYNC
        sse:
          connections:
            server1:
              url: http://localhost:8088
              # stdio 标准输入输出方式


# 调试日志
logging:
  level:
    io:
      modelcontextprotocol:
        client: DEBUG
        spec: DEBUG